.app-menu-link {
    text-decoration: none;
    color: rgba(0,0,0,.5);
}

.app-menu-link.active {
    text-decoration: none;
    color: #4f9822;
    font-weight: bold;
}

.app-menu-link:hover {
    text-decoration: none;
    color: #4f9822;
}